# Virtual Environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.env.local

# IDEs and Editors
.vscode/
.idea/
